{% set excluded_fields = [
    "description",
    "description_html",
    "blocked_note",
    "blocked_note_html",
    "content",
    "content_html",
    "epics_order",
    "backlog_order",
    "kanban_order",
    "sprint_order",
    "taskboard_order",
    "us_order",
    "custom_attributes",
    "tribe_gig",
] %}

{% for field_name, values in changed_fields.items() %}
    {% if field_name not in excluded_fields %}
        {# POINTS #}
        {% if field_name == "points" %}
            {% for role, points in values.items() %}
            <h3>{% trans role=role %}{{ role }} role points{% endtrans %}</h3>
            <ul>
                <li>
                    <span>{{ _("from") }}</span> <strong>{{ points.0 }}</strong>
                </li>
                <li>
                    <span>{{ _("to") }}</span> <strong>{{ points.1 }}</strong>
                </li>
            </ul>
            {% endfor %}

    {# ATTACHMENTS #}
        {% elif field_name == "attachments" %}
            {% if values.new %}
                {% for att in values['new']%}
                <h3>{{ _("Added new attachment") }}</h3>
                <ul>
                    <li><a href="{{ att.url }}" target="_blank">{{ att.filename }}</a></li>
                    {% if att.description %}
                    <li>{{ att.description }}</li>
                    {% endif %}
                </ul>
                {% endfor %}
            {% endif %}

            {% if values.changed %}
                {% for att in values['changed'] %}
                <h3>{{ _("Updated attachment") }}</h3>
                <ul>
                    <li>
                        <a href="{{ att.url }}" target="_blank">
                            {{ att.filename|linebreaksbr }}
                            {% if att.changes.is_deprecated %}
                            {% if att.changes.is_deprecated.1 %}
                            [<i>{{ _("deprecated") }}</i>]
                            {% else %}
                            [<i>{{ _("not deprecated") }}</i>]
                            {% endif %}
                            {% endif %}
                        </a>
                    </li>
                    {% if att.changes.description %}
                    <li>
                        {{ att.changes.description.1 }}
                    </li>
                    {% endif %}
                </ul>
                {% endfor %}
            {% endif %}
            {% if values.deleted %}
                {% for att in values['deleted']%}
                <h3>{{ _("Deleted attachment") }}</h3>
                <ul>
                    <li>{{ att.filename|linebreaksbr }}</li>
                </ul>
                {% endfor %}
            {% endif %}
    {# TAGS AND WATCHERS #}
        {% elif field_name in ["tags", "watchers"] %}
            {% set values_from = values.0 or [] %}
            {% set values_to = values.1 or [] %}
            {% set values_added = lists_diff(values_to, values_from) %}
            {% set values_removed = lists_diff(values_from, values_to) %}

            <h3>{{ verbose_name(obj_class, field_name) }}</h3>
            <ul>
                <li>
                {% if values_added %}
                    <span>{{ _("added") }}</span> <strong>{{ ', '.join(values_added) }}</strong>
                {% endif %}

                {% if values_removed %}
                    <span>{{ _("removed") }}</span> <strong>{{ ', '.join(values_removed) }}</strong>
                {% endif %}
                </li>
            </ul>

    {# DESCRIPTIONS, CONTENT, BLOCKED_NOTE #}
        {% elif field_name in ["description_diff", "content_diff", "blocked_note_diff"] %}
            <h3>{{ verbose_name(obj_class, field_name) }}</h3>
            <ul>
                <li>{{ mdrender(project, values.1) }}</li>
            </ul>
    {# ASSIGNED TO #}
        {% elif field_name == "assigned_to" %}
            <h3>{{ verbose_name(obj_class, field_name) }}</h3>
            <ul>
                <li>
                    {% if values.0 != None and values.0 != "" %}
                        <span>{{ _("from") }}</span> <strong>{{ values.0 }}</strong>
                    {% else %}
                        <span>{{ _("from") }}</span> <strong>{{ _("Unassigned") }}</strong>
                    {% endif %}
                </li>
                <li>
                    {% if values.1 != None and values.1 != "" %}
                        <span>{{ _("to") }}</span> <strong>{{ values.1 }}</strong>
                    {% else %}
                        <span>{{ _("to") }}</span> <strong>{{ _("Unassigned") }}</strong>
                    {% endif %}
                </li>
            </ul>
    {# * #}
        {% else %}
            <h3>{{ verbose_name(obj_class, field_name) }}</h3>
            <ul>
                <li><span>{{ _("from") }}</span> <strong>{{ values.0|linebreaksbr }}</strong></li>
                <li><span>{{ _("to") }}</span> <strong>{{ values.1|linebreaksbr }}</strong></li>
            </ul>
        {% endif %}

    {% elif field_name == "custom_attributes" %}
    {# CUSTOM ATTRIBUTES #}
        {% if values.new %}
            {% for attr in values['new']%}
            <h3>{{ attr.name }}</h3>
            <ul>
                {% if attr.type == "richtext" %}
                    <li>{{ mdrender(project, attr.value_diff) }}</li>
                {% else %}
                    <li><span>{{ _("to") }}</span> <strong>{{ attr.value|linebreaksbr }}</strong></li>
                {% endif %}
            </ul>
            {% endfor %}
        {% endif %}
        {% if values.changed %}
            {% for attr in values['changed'] %}
                {% if attr.changes.value%}
                <h3>{{ attr.name }}</h3>
                <ul>
                    {% if attr.type == "richtext" %}
                        <li>{{ mdrender(project, attr.value_diff) }}</li>
                    {% else %}
                        <li><span>{{ _("from") }}</span> <strong>{{ attr.changes.value.0|linebreaksbr }}</strong></li>
                        <li><span>{{ _("to") }}</span> <strong>{{ attr.changes.value.1|linebreaksbr }}</strong></li>
                    {% endif %}
                </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if values.deleted %}
            {% for attr in values['deleted']%}
            <h3>{{ attr.name }}</h3>
            <ul>
                <li>
                    {{ _("-deleted-") }}
                </li>
            </ul>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
