{% extends "emails/base-body-html.jinja" %}

{% block logo %}
    <img alt="Taiga" title="" height="auto" src="{{ static('emails/logo-color.png') }}" style="border:none;border-radius:;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="60">
{% endblock %}

{% block title %}
    Recover your password
{% endblock %}

{% block body %}
    {% trans full_name=user.get_full_name(), url=resolve_front_url("change-password", user.token) %}

    <p>Hello {{ full_name }}, <br> you asked to recover your password</p>
    <a style="color:#72a114;" href="{{ url }}" title="Recover your password">Recover your password</a>
    <p><small>Please, ignore this message if you did not request.</small></p>
    {% endtrans %}
{% endblock %}
