{% extends "emails/base-body-html.jinja" %}

{% block logo %}
    <img alt="Taiga logo" title="" height="auto" src="{{ static('emails/logo-color.png') }}" style="border:none;border-radius:;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="60">
{% endblock %}

{% block title %}
    You have been added to a project
{% endblock %}

{% block body %}
    {% trans url=resolve_front_url("project", membership.project.slug), full_name=membership.user.get_full_name(), project=membership.project %}

    <p>Hello {{ full_name }}, <br> you have been added to the project <a style="color:#72a114;" href="{{ url }}" title="Go to {{ project }}"><strong>{{project}}</strong></a></p>
    {% endtrans %}
{% endblock %}
