{% extends "emails/base-body-html.jinja" %}

{% block logo %}
    {% if project.logo_small_thumbnail_url %}
    <img alt="{{ project.name }}" title="" height="auto" src="{{ project.logo_big_thumbnail_url }}" style="border:none;border-radius:;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="60">
    {% else %}
    <img alt="{{ project.name }}" title="" height="auto" src="{{ static('emails/logo-color.png') }}" style="border:none;border-radius:;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="60">
    {% endif %}
{% endblock %}

{% block title %}
    Ownership transfer requested
{% endblock %}

{% block body %}
    {% trans owner_name=project.owner.get_full_name(), receiver_name=receiver.get_full_name(), project_name=project.name %}
    <p>Hello {{ receiver_name }}, <br> {{ owner_name}} the current project owner of <strong> {{project_name}} </strong> would like you to become the new project owner.</p>
    {% endtrans %}

    {% if reason %}
        {% trans owner_name=project.owner.get_full_name() %}
        <p>{{ owner_name }} says:</p>
        {% endtrans %}
        <blockquote>{{ reason }}</blockquote>
    {% endif %}

    <a style="color:#72a114;" href="{{ resolve_front_url("project-transfer", project.slug, project.transfer_token) }}"
       title="{{ _("accept or reject this proposal") }}">
       {% trans %}Accept or reject this proposal{% endtrans %}
    </a>

{% endblock %}
