{% extends "emails/base-body-html.jinja" %}

{% block logo %}
    {% if project.logo_small_thumbnail_url %}
    <img alt="{{ project.name }}" title="" height="auto" src="{{ project.logo_big_thumbnail_url }}" style="border:none;border-radius:;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="60">
    {% else %}
    <img alt="{{ project.name }}" title="" height="auto" src="{{ static('emails/logo-color.png') }}" style="border:none;border-radius:;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="60">
    {% endif %}
{% endblock %}

{% block title %}
    Asana Project imported
{% endblock %}

{% block body %}
    {% trans user=user.get_full_name(), url=resolve_front_url("project", project.slug), project=project.name %}
    <p>Hello {{ user }}, <br> Your project <strong>{{ project }}</strong> from Asana has been correctly imported.</p>
    <p><a href="{{ url }}" title="Go to the project {{ project }}">Go to {{ project }}</a></p>
    {% endtrans %}
{% endblock %}
