{% extends "emails/base-body-html.jinja" %}

{% block logo %}
    <img alt="Taiga" title="" height="auto" src="{{ static('emails/logo-color.png') }}" style="border:none;border-radius:;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="60">
{% endblock %}

{% block title %}
    {% trans error_message=error_message %}
    {{ error_message }}
    {% endtrans %}
{% endblock %}

{% block body %}
    {% trans user=user.get_full_name(), support_email=sr("support.email") %}
    <p>Hello {{ user }}, <br> Your project has not been importer correctly.</p>
    <p>The Taiga system administrators have been informed.<br/> Please, try it again or contact with the support team at
       <a href="mailto:{{ support_email }}" title="Support email" style="color: #699b05">{{ support_email }}</a>
    </p>
    {% endtrans %}
{% endblock %}
